<a href="https://colab.research.google.com/github/Dineshchowdary9999/Case1E2/blob/main/20_1_2025_crt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple1=tuple(map(int,input("enter:").split()))
print(tuple1)

enter:26 15 3 22
(26, 15, 3, 22)

In [ ]:
data=input()
tuple1=tuple(map(int,data.split()))
print(tuple1)

26 15 3 22
(26, 15, 3, 22)

In [4]:
a="26 15 3 22"
print(tuple(a))

('2', '6', ' ', '1', '5', ' ', '3', ' ', '2', '2')

In [6]:
 name="nani"
 print("name:",name)

name: nani

In [7]:
tuple1=(26,15,3,22,"nani")
tuple2=(45,93,33,"rohit")
print(tuple1+tuple2)

(26, 15, 3, 22, 'nani', 45, 93, 33, 'rohit')

In [10]:
tuple1=(26,15,3,22,"nani")
tuple2=(45,93,33,"rohit")
print("rohit" in tuple2)

True

In [11]:
tuple1=(26,15,3,22,"nani")
tuple2=(45,93,33,"rohit")
print("nani" in tuple2)

False

In [12]:
tuple1=(26,15,3,22,"nani")
tuple2=(45,93,33,"rohit")
print(tuple1 == tuple1)

True

In [13]:
tuple1=(26,15,3,22,"nani")
tuple2=(45,93,33,"rohit")
print(tuple1 == tuple2)

False