<a href="https://colab.research.google.com/github/Dineshchowdary9999/Case1E2/blob/main/prime18_8_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
l1=[2,5,6,8,8,9]
t=8
f=-1
l=-1
for i in range(len(l1)):
  if l1[i]==t:
      if f==-1:
           f=-1
print(f,1)

-1 1

In [5]:
nums1=[1,2,3,0,0,0]
m=3
nums2=[2,5,6]
n=3
j=0
for i in range(m,m+n):
    nums1[i]=nums2[j]
    j+=1
print(nums1)

[1, 2, 3, 2, 5, 6]

In [7]:
nums1=[1,2,3,0,0,0]
m=3
nums2=[2,5,6,7,9]
n=2
j=len(nums2)-1
for i in range(m,m+n):
    nums1[i]=nums2[j]
    j-=1
print(nums1[:m+n])

[1, 2, 3, 9, 7]

In [8]:
n=5
f=1
s=2
for i in range(3,n+1):
  t=f+s
  s=t
print(s)

5

In [9]:
li=[1,1,2,3,3,5,6]
j=0
for i in range(l,len(li)):
  if li[i]!=li[i-1]:
    li[j]=li[i]
    j+=1
print(li[:j])

[6, 1, 2, 3, 5, 6]

In [10]:
li=[1,3,0]
n=len(li)
t=[0]*(n+1)
for i in li:
  if 0<=i<=n:
    t[i]=1
for i in range(1,len(t)):
  if not t[i]:
    print(i)
    break
print(n+1)

2
4

In [14]:
li=[1,2,0,4,0,7]
j=0
for i in range(len(li)):
  if li[i]!=0:
    li[j]=li[i]
    j+=1
print(li)
while j<len(li):
  li[j]=0
  j+=1
print(li)

[1, 2, 4, 7, 0, 7]
[1, 2, 4, 7, 0, 0]

In [15]:
li=[1,2,3,4,5]
j=0
s=0
for i in li:
  s+=i
  t.append(s)
print(t)

[1, 1, 0, 1, 1, 3, 6, 10, 15]